{% extends "primary.html"%}
{% load static %}

{% block content%}

<nav class="navbar bg-body-tertiary">
    <div class="container-fluid d-flex mb-1">
        <a class="navbar-brand fw-bold px-2">Slugs of Slugterra </a>
        <!--This button loads slowly casue of scrapping.-->
        <a href="{% url "get_protoform_image" %}" type="button" class="btn btn-outline-secondary">Back</a>
    </div>
</nav>


<div class="container my-5">
    <div class="row justify-content-center">
        {% for name,pic in info.items %}
              <div class="col-md-3 col-sm-3">
                  <div class="card mb-3 shadow-lg">
                      <img src={{ pic }} class="card-img-top" alt="{{name}}">
                      <div class="card-footer  c-footer">
                              <h5 class="text-center fw-semibold text-"><a href="{%url 'details' slug=name %}" class="text-black text-decoration-none"> {{name}} </a></h5>
                      </div>
                  </div>
              </div>
        {% empty %}
        <div class="col-8 fw-semibold text-center my-5 fs-2">
                   No results found
        </div>
        {%endfor%}
    </div>
</div>

{% endblock %}